{% extends 'base.html' %}

{% block content %}

<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="container-fluid">
        {% for category, message in messages %}
        <div class="alert alert-{{category}} alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <div class="container mt-3">
        <div class="card bg-light text-dark">
            <div class="card-header">
                <h3 class="text-center">2023興傳盃公益籃球邀請賽</h3>
            </div>
            <div class="card-body" style="text-align: center;">
                <table style="display: inline-block;">
                    {% for head in outteamheader%}
                    {% if head != 'team_id' and head != 'id'%}
                    <tr>
                        <td align="right">{{head}}:</td>
                        <td align="left">{{outteam[head]}}</td>
                    </tr>
                    {% endif %}

                    {% endfor %}
                    <tr>
                        <td></td>
                        <td align="left">
                            <a href="" data-bs-toggle="modal" class="btn btn-success btn-sm"
                                data-bs-target="#update_team">修改</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- Modal for updating team data-->
        <div class="modal fade" id="update_team" tabindex="-1" role="dialog" aria-labelledby="basicModal"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="ModalUpdateTeamLabel">修改隊伍資料</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                    </div>
                    <form action="" method="post"
                        enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="form-group ">
                                <label for="in_tname" class="required-label">報名單位</label>
                                <input type="text" class="form-control" name="in_tname"
                                    id="in_tname" placeholder="報名單位" value="{{outteam['報名單位']}}" required />
                            </div>
                            <div class="form-group ">
                                <label for="in_ctname" class="required-label">聯絡人</label>
                                <input type="text" class="form-control" name="in_ctname"
                                    id="in_ctname" placeholder="聯絡人" value="{{outteam['聯絡人']}}" required />
                            </div>
                            <div class="form-group ">
                                <label for="in_email" class="required-label">電子郵件</label>
                                <input type="email" class="form-control" name="in_email"
                                    id="in_email" placeholder="電子郵件" value="{{outteam['電子郵件']}}" required />
                            </div>
                            <div class="form-group ">
                                <label for="in_group" class="required-label">參賽組別</label>
                                <select id="in_group"  name="in_group" class="form-control"> 
                                    <option value="挑戰組(不限齡)" {% if outteam['參賽組別'] == '挑戰組(不限齡)' %}selected{% endif %}>挑戰組(不限齡)</option> 
                                    <option value="菁英組(43歲以上)" {% if outteam['參賽組別'] == '菁英組(43歲以上)' %}selected{% endif %}>菁英組(43歲以上)</option>    
                                </select>
                            </div>
                            <div class="form-group ">
                                <label for="in_coach">教練</label>
                                <input type="text" class="form-control" name="in_coach"
                                    id="in_coach" placeholder="教練" value="{{outteam['教練']}}"/>
                            </div>
                            <div class="form-group ">
                                <label for="in_hcoach">領隊</label>
                                <input type="text" class="form-control" name="in_hcoach"
                                    id="in_hcoach" placeholder="領隊" value="{{outteam['領隊']}}"/>
                            </div>
                            <div class="form-group ">
                                <label for="in_captain" class="required-label">隊長</label>
                                <input type="text" class="form-control" name="in_captain"
                                    id="in_captain" placeholder="隊長" value="{{outteam['隊長']}}" required/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-bs-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-success">送出</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End of Modal for updating team data-->
    </div>
    <br>
    <div class="container-fluid">
        <!-- start 得到隊員表格資料 -->
        <table class="table table-striped table-bordered" id="persontable">
            <thead>
                <tr align="center">
                    <th colspan="12"><h4>隊員報名資料</h4></th>
                </tr>
                <td>
                    序號
                </td>
                {% for head in outheaders%}
                <td>
                    {% if head == 'pid' %}
                    身分證字號
                    {% elif head == 'school_name' %}
                    學校
                    {% elif head == 'team_id' %}
                    隊名
                    {% elif head == 'student_name' %}
                    姓名
                    {% elif head == 'phone' %}
                    電話
                    {% elif head == 'jersey_number' %}
                    背號
                    {% else %}
                    {{ head }}
                    {% endif %}
                </td>
                {% endfor %}
                <td align="right">
                    <button type="button" data-bs-toggle="modal" class="btn btn-primary btn-sm"
                        data-bs-target="#insert_person">
                        新增
                    </button>
                </td>
            </thead>

            <tbody>
                {% for row in outdata %}
                <tr>
                    <td>
                        {{loop.index}}
                    </td>
                    {% for cell in row %}
                    <td>
                        {% if cell == '_Y' %}
                        <a href="{{ url_for('showfile', ftype='PID',pid=row.pid) }}" data-toggle="tooltip"
                            title="查看身份證件檔案" class="text-decoration-none" target="_blank">📎</a>
                        {% elif cell == '_S' %}
                        <a href="{{ url_for('showfile', ftype='STUID',pid=row.pid) }}" data-toggle="tooltip"
                            title="查看學生證件檔案" class="text-decoration-none" target="_blank">📎</a>
                        {% elif cell == '_E' %}
                        <a href="{{ url_for('showfile', ftype='ENROLL',pid=row.pid) }}" data-toggle="tooltip"
                            title="查看在學證明檔案" class="text-decoration-none" target="_blank">📎</a>
                        {% else %}
                        {{ cell }}
                        {% endif %}
                    </td>
                    {% endfor %}
                    <td align="right">
                        <a href="{{ url_for('edit_person', pid=row.pid) }}" data-bs-toggle="modal"
                            class="btn btn-success btn-sm" data-bs-target="#update_person{{row.pid}}">修改</a>
                        <a href="{{ url_for('del_person', pid=row.pid) }}" data-bs-toggle="modal"
                            class="btn btn-danger btn-sm" data-bs-target="#del_person{{row.pid}}">刪除</a>
                    </td>
                </tr>

                <!-- Modal 2 for updating person data-->
                <div class="modal fade" id="update_person{{row.pid}}" tabindex="-1" role="dialog"
                    aria-labelledby="basicModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="ModalUpdateLabel">修改人員資料</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-hidden="true"></button>
                            </div>
                            <form action="{{ url_for('edit_person', pid=row.pid) }}" method="post"
                                enctype="multipart/form-data">
                                <div class="modal-body">
                                    <div class="form-group ">
                                        <label for="in_pid" class="required-label">身分證字號</label>
                                        <input type="text" pattern="^[a-zA-Z][1-2]\d{8}$" class="form-control"
                                            name="in_pid" id="in_pid" placeholder="身分證字號" value="{{row.pid}}"
                                            disabled />
                                    </div>
                                    <div class="form-group ">
                                        <label for="in_school" class="required-label">學校</label>
                                        <input type="text" class="form-control" name="in_school" id="in_school"
                                            placeholder="學校" value="{{row.school_name}}" required />
                                    </div>
                                    <div class="form-group ">
                                        <label for="in_teamid" class="required-label">隊名</label>
                                        <input type="text" class="form-control" name="in_teamid" id="in_teamid"
                                            placeholder="隊名" value="{{row.team_id}}" required />
                                    </div>
                                    <div class="form-group ">
                                        <label for="in_name" class="required-label">姓名</label>
                                        <input type="text" class="form-control" name="in_name" id="in_name"
                                            placeholder="姓名" value="{{row.student_name}}" required />
                                    </div>
                                    <div class="form-group ">
                                        <label for="in_email">email</label>
                                        <input type="email" class="form-control" name="in_email" id="in_email"
                                            value="{{row.email}}" placeholder="email" />
                                    </div>
                                    <div class="form-group ">
                                        <label for="in_phone">電話</label>
                                        <input type="number" class="form-control" name="in_phone" id="in_phone"
                                            value="{{row.phone}}" placeholder="電話" />
                                    </div>
                                    <div class="form-group ">
                                        <label for="in_jersey " class="required-label">背號</label>
                                        <input type="number" class="form-control" name="in_jersey" id="in_jersey"
                                            value="{{row.jersey_number}}" placeholder="背號" required />
                                    </div>
                                    <div class="form-group ">
                                        <label for="in_file">身份證件檔案<font color="grey"><sub>（只限JPEG/PNG/HEIC/PDF格式）</sub>
                                            </font></label>
                                        {% if row.身 =='_Y' %}
                                        <div class="form-control">
                                            <a href="{{ url_for('showfile', ftype='PID', pid=row.pid) }}"
                                                target="_blank">檢視已上傳檔案</a>
                                            <input type="checkbox" name="in_rmpidexistfile" id="in_rmpidexistfile"
                                                value="PID" />
                                            <label for="in_rmpidexistfile">移除已上傳檔案</label>
                                        </div>
                                        {% endif %}
                                        <div class="form-control">
                                            <input type="file"
                                                accept="image/jpeg, image/png, image/heic, application/pdf"
                                                name="in_file_pid" id="in_file_pid{{loop.index}}"
                                                placeholder="身份證件檔案" />
                                            <button type="button" class="btn btn-link"
                                                onclick="document.getElementById('in_file_pid{{loop.index}}').value = ''">不要選擇檔案</button>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="in_file">學生證件檔案<font color="grey"><sub>（只限JPEG/PNG/HEIC/PDF格式）</sub>
                                            </font></label>
                                        {% if row.學 =='_S' %}
                                        <div class="form-control">
                                            <a href="{{ url_for('showfile', ftype='STUID', pid=row.pid) }}"
                                                target="_blank">檢視已上傳檔案</a>
                                            <input type="checkbox" name="in_rmstuexistfile" id="in_rmstuexistfile"
                                                value="STUID" />
                                            <label for="in_rmstuexistfile">移除已上傳檔案</label>
                                        </div>
                                        {% endif %}
                                        <div class="form-control">
                                            <input type="file"
                                                accept="image/jpeg, image/png, image/heic, application/pdf"
                                                name="in_file_stuid" id="in_file_stuid{{loop.index}}"
                                                value="{{row.pid}}" placeholder="學生證件檔案" />
                                            <button type="button" class="btn btn-link"
                                                onclick="document.getElementById('in_file_stuid{{loop.index}}').value = ''">不要選擇檔案</button>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="in_file">在學證明檔案<font color="grey"><sub>（只限JPEG/PNG/HEIC/PDF格式）</sub>
                                            </font></label>
                                        {% if row.在 =='_E' %}
                                        <div class="form-control">
                                            <a href="{{ url_for('showfile', ftype='ENROLL', pid=row.pid) }}"
                                                target="_blank">檢視已上傳檔案</a>
                                            <input type="checkbox" name="in_rmenrollexistfile" id="in_rmenrollexistfile"
                                                value="ENROLL" />
                                            <label for="in_rmenrollexistfile">移除已上傳檔案</label>
                                        </div>
                                        {% endif %}
                                        <div class="form-control">
                                            <input type="file"
                                                accept="image/jpeg, image/png, image/heic, application/pdf"
                                                name="in_file_enroll" id="in_file_enroll{{loop.index}}"
                                                value="{{row.pid}}" placeholder="在學證明檔案" />
                                            <button type="button" class="btn btn-link"
                                                onclick="document.getElementById('in_file_enroll{{loop.index}}').value = ''">不要選擇檔案</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">取消</button>
                                    <button type="submit" class="btn btn-success">送出</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- End Modal 2 -->

                <!-- Modal 3 for deleting person data-->
                <div class="modal fade" id="del_person{{row.pid}}" tabindex="-1" role="dialog"
                    aria-labelledby="basicModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="ModalUpdateLabel">確定刪除人員資料？</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-hidden="true"></button>
                            </div>
                            <form action="/del_person/{{row.pid}}" method="post">
                                <div class="modal-body">
                                    <div class="form-group ">
                                        <label for="in_pid">身分證字號<font color="red"><sup>*</sup></font></label>
                                        <input type="text" pattern="^[a-zA-Z][1-2]\d{8}$" class="form-control"
                                            name="in_pid" id="in_pid" placeholder="身分證字號" value="{{row.pid}}"
                                            disabled />
                                    </div>
                                    <div class="form-group ">
                                        <label for="in_school">學校<font color="red"><sup>*</sup></font></label>
                                        <input type="text" class="form-control" name="in_school" id="in_school"
                                            placeholder="學校" value="{{row.school_name}}" disabled />
                                    </div>
                                    <div class="form-group ">
                                        <label for="in_teamid">隊名<font color="red"><sup>*</sup></font></label>
                                        <input type="text" class="form-control" name="in_teamid" id="in_teamid"
                                            placeholder="隊名" value="{{row.team_id}}" disabled />
                                    </div>
                                    <div class="form-group ">
                                        <label for="in_name">姓名<font color="red"><sup>*</sup></font></label>
                                        <input type="text" class="form-control" name="in_name" id="in_name"
                                            placeholder="姓名" value="{{row.student_name}}" disabled />
                                    </div>
                                    <div class="form-group ">
                                        <label for="in_email">email</label>
                                        <input type="email" class="form-control" name="in_email" id="in_email"
                                            value="{{row.email}}" placeholder="email" disabled />
                                    </div>
                                    <div class="form-group ">
                                        <label for="in_phone">電話</label>
                                        <input type="number" class="form-control" name="in_phone" id="in_phone"
                                            value="{{row.phone}}" placeholder="電話" disabled />
                                    </div>
                                    <div class="form-group ">
                                        <label for="in_jersey">背號</label>
                                        <input type="number" class="form-control" name="in_jersey" id="in_jersey"
                                            value="{{row.jersey_number}}" placeholder="背號" disabled />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">取消</button>
                                    <button type="submit" class="btn btn-danger">確定</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- End Modal 3 -->
                {% endfor %}
            </tbody>
        </table>
        <!-- end 得到隊員表格資料 -->
        <!-- Modal 1 for adding a person -->
        <div class="modal fade" id="insert_person" tabindex="-1" role="dialog" aria-labelledby="basicModal"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="ModalInsertLabel">新增人員</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                    </div>
                    <form action="{{url_for('add_person')}}" method="post" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="form-group ">
                                <label for="in_pid" class="required-label">身分證字號</label>
                                <input type="text" oninput="convertToUpperCase()" pattern="^[a-zA-Z][1-2]\d{8}$"
                                    class="form-control" name="in_pid" id="new_pid" placeholder="身分證字號" required />
                            </div>
                            <div class="form-group ">
                                <label for="in_school" class="required-label">學校</label>
                                <input type="text" class="form-control" name="in_school" id="in_school" placeholder="學校"
                                    required />
                            </div>
                            <div class="form-group ">
                                <label for="in_teamid" class="required-label">隊名</label>
                                <input type="text" class="form-control" name="in_teamid" id="in_teamid" placeholder="隊名"
                                    required />
                            </div>
                            <div class="form-group ">
                                <label for="in_name" class="required-label">姓名</label>
                                <input type="text" class="form-control" name="in_name" id="in_name" placeholder="姓名"
                                    required />
                            </div>
                            <div class="form-group ">
                                <label for="in_email">email</label>
                                <input type="email" class="form-control" name="in_email" id="in_email"
                                    placeholder="email" />
                            </div>
                            <div class="form-group ">
                                <label for="in_phone">電話</label>
                                <input type="number" class="form-control" name="in_phone" id="in_phone"
                                    placeholder="電話" />
                            </div>
                            <div class="form-group ">
                                <label for="in_jersey" class="required-label">背號</label>
                                <input type="number" class="form-control" name="in_jersey" id="in_jersey"
                                    placeholder="背號" required />
                            </div>
                            <div class="form-group">
                                <label for="in_file">身份證件檔案<font color="grey"><sub>（只限JPEG/PNG/HEIC/PDF格式）</sub></font>
                                    </label>
                                <div class="form-control">
                                    <input type="file" accept="image/jpeg, image/png, image/heic, application/pdf"
                                        name="in_file_pid" id="in_file_pid" placeholder="身份證件檔案" />
                                    <button type="button" class="btn btn-link"
                                        onclick="document.getElementById('in_file_pid').value = ''">不要選擇檔案</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="in_file">學生證件檔案<font color="grey"><sub>（只限JPEG/PNG/HEIC/PDF格式）</sub></font>
                                    </label>
                                <div class="form-control">
                                    <input type="file" accept="image/jpeg, image/png, image/heic, application/pdf"
                                        name="in_file_stuid" id="in_file_stuid" placeholder="學生證件檔案" />
                                    <button type="button" class="btn btn-link"
                                        onclick="document.getElementById('in_file_stuid').value = ''">不要選擇檔案</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="in_file">在學證明檔案<font color="grey"><sub>（只限JPEG/PNG/HEIC/PDF格式）</sub></font>
                                    </label>
                                <div class="form-control">
                                    <input type="file" accept="image/jpeg, image/png, image/heic, application/pdf"
                                        name="in_file_enroll" id="in_file_enroll" placeholder="在學證明檔案" />
                                    <button type="button" class="btn btn-link"
                                        onclick="document.getElementById('in_file_enroll').value = ''">不要選擇檔案</button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-bs-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary">送出</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End Modal 1 -->



    </div>
</body>

{% endblock %}