<!DOCTYPE html>
<html>

<head>
    <title>運動報名系統</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</head>

<body>
    <h2> 運動報名系統 </h2>
    <div class="container-fluid">
        <!-- start 得到隊員表格資料 -->
        <table class="table table-striped table-bordered" id="persontable">
            <thead>
                {% for head in outheaders%}
                <td>{{ head }}</td>
                {% endfor %}
                <td align="right">
                    <button type="button" data-bs-toggle="modal" class="btn btn-primary btn-sm" data-bs-target="#insert_person">
                    新增
                    </button>
                </td>
            </thead>

            <tbody>
                {% for row in outdata %}
                <tr>
                    {% for cell in row %}
                    <td>{{ cell }}</td>
                    {% endfor %}
                    <td align="right">
                        <!-- temp mark button 
                        <button type="submit" data-bs-toggle="modal" class="btn btn-success btn-sm" data-bs-target="#update">修改 </button>
                        --> 
                        <a href="/edit_person/{{row.pid}}" data-bs-toggle="modal" class="btn btn-success btn-sm" data-bs-target="#update_person{{row.pid}}">修改</a>
                        <button type="submit" data-bs-toggle="modal" class="btn btn-danger btn-sm" data-bs-target="#delete">刪除 </button>
                    </td>     
                </tr>
                 
                <!-- Modal 2 for updating person data-->
                <div class="modal fade" id="update_person{{row.pid}}" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="ModalUpdateLabel">修改人員資料</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                            </div>
                            <form action="/edit_person/{{row.pid}}" method="post">
                                <div class="modal-body">
                                    <div class="form-group ">
                                        <label for="in_pid">身分證字號<font color="red"><sup>*</sup></font></label>
                                        <input type="text" pattern="^[a-zA-Z][1-2]\d{8}$" class="form-control" name="in_pid" id="in_pid" placeholder="身分證字號" value="{{row.pid}}" disabled/>
                                    </div>
                                    <div class="form-group ">
                                        <label for="in_school">學校<font color="red"><sup>*</sup></font></label>
                                        <input type="text" class="form-control" name="in_school" id="in_school" placeholder="學校" value="{{row.school_name}}"required/>
                                    </div>
                                    <div class="form-group ">
                                        <label for="in_teamid">隊名<font color="red"><sup>*</sup></font></label>
                                        <input type="text" class="form-control" name="in_teamid" id="in_teamid" placeholder="隊名" value="{{row.team_id}}"required/>
                                    </div>
                                    <div class="form-group ">
                                        <label for="in_name">姓名<font color="red"><sup>*</sup></font></label>
                                        <input type="text" class="form-control" name="in_name" id="in_name" placeholder="姓名" value="{{row.student_name}}"required />
                                    </div>
                                    <div class="form-group ">
                                        <label for="in_email">email</label>
                                        <input type="email" class="form-control" name="in_email" id="in_email" value="{{row.email}}" placeholder="email" />
                                    </div>
                                    <div class="form-group ">
                                        <label for="in_phone">電話</label>
                                        <input type="text" class="form-control" name="in_phone" id="in_phone" value="{{row.phone}}" placeholder="電話" />
                                    </div>
                                    <div class="form-group ">
                                        <label for="in_jersey">背號</label>
                                        <input type="text" class="form-control" name="in_jersey" id="in_jersey" value="{{row.背號}}" placeholder="背號" />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">取消</button>
                                    <button type="submit" class="btn btn-primary">送出</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- End Modal 2 -->

                {% endfor %}  
            </tbody> 
        </table>
        <!-- end 得到隊員表格資料 -->
        <!-- Modal 1 for adding a person -->
        <div class="modal fade" id="insert_person" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="ModalInsertLabel">新增人員</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                    </div>
                    <form action="{{url_for('add_person')}}" method="post">
                        <div class="modal-body">
                            <div class="form-group ">
                                <label for="in_pid">身分證字號<font color="red"><sup>*</sup></font></label>
                                <input type="text" pattern="^[a-zA-Z][1-2]\d{8}$" class="form-control" name="in_pid" id="in_pid" placeholder="身分證字號" required/>
                            </div>
                            <div class="form-group ">
                                <label for="in_school">學校<font color="red"><sup>*</sup></font></label>
                                <input type="text" class="form-control" name="in_school" id="in_school" placeholder="學校" required/>
                            </div>
                            <div class="form-group ">
                                <label for="in_teamid">隊名<font color="red"><sup>*</sup></font></label>
                                <input type="text" class="form-control" name="in_teamid" id="in_teamid" placeholder="隊名" required/>
                            </div>
                            <div class="form-group ">
                                <label for="in_name">姓名<font color="red"><sup>*</sup></font></label>
                                <input type="text" class="form-control" name="in_name" id="in_name" placeholder="姓名" required />
                            </div>
                            <div class="form-group ">
                                <label for="in_email">email</label>
                                <input type="email" class="form-control" name="in_email" id="in_email" placeholder="email" />
                            </div>
                            <div class="form-group ">
                                <label for="in_phone">電話</label>
                                <input type="text" class="form-control" name="in_phone" id="in_phone" placeholder="電話" />
                            </div>
                            <div class="form-group ">
                                <label for="in_jersey">背號</label>
                                <input type="text" class="form-control" name="in_jersey" id="in_jersey" placeholder="背號" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-bs-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary">送出</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End Modal 1 -->
        


    </div>
</body>

</html>