{% extends 'base.html' %}

{% block content %}

<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="container-fluid pt-5">
        {% for category, message in messages %}
        <div class="alert alert-{{category}} alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <div class="container pt-5">
        <div class="card bg-light text-dark">
            <div class="card-header">
                <h3 class="text-center">2023 第十屆全國 EMBA 籃球邀請賽</h3>
            </div>
            <div class="card-body" style="text-align: center;">
                <table style="display: inline-block;">
                    {% for head in outteamheader%}
                    {% if head != 'team_id' and head != 'id'%}
                    <tr>
                        <td align="right">{{head}}:</td>
                        {% if head == '系辦蓋章' and outteam['系辦蓋章'] =='Y' %}
                            <td align="left">
                            <a href="{{ url_for('showfile', ftype='SIGNDOC', reg_pid=outteam['team_id']) }}" data-toggle="tooltip"
                                title="查看報名系辦蓋章檔案" class="text-decoration-none" target="_blank">📎</a>
                            </td>
                        {% elif head == '學校Logo' and outteam['學校Logo'] =='Y' %}
                        <td align="left">
                            <a href="{{ url_for('showfile', ftype='LOGO', reg_pid=outteam['team_id']) }}" data-toggle="tooltip"
                                title="查看學校Logo檔案" class="text-decoration-none" target="_blank">📎</a>
                            </td>
                        {% elif head == '授課證明' and outteam['授課證明'] =='Y' %}
                        <td align="left">
                            <a href="{{ url_for('showfile', ftype='VERIFY', reg_pid=outteam['team_id']) }}" data-toggle="tooltip"
                                title="查看教職員授課證明" class="text-decoration-none" target="_blank">📎</a>
                            </td>
                        {% else %}
                            <td align="left">{{outteam[head]}}</td>
                        {% endif %}
                    </tr>
                    {% endif %}

                    {% endfor %}
                    <tr>
                        <td></td>
                        <td align="left">
                            <a href="" data-bs-toggle="modal" class="btn btn-success btn-sm"
                                data-bs-target="#update_team">修改</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- Modal for updating team data-->
        <div class="modal fade" id="update_team" tabindex="-1" role="dialog" aria-labelledby="basicModal"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="ModalUpdateTeamLabel">修改隊伍資料</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                    </div>
                    <form action="{{ url_for('edit_team', tid=outteam['team_id'], pid=outteam['id']) }}" method="post"
                        enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="form-group ">
                                <label for="in_tname" class="required-label">報名單位</label>
                                <input type="text" class="form-control" name="in_tname"
                                    id="in_tname" placeholder="報名單位" value="{{outteam['報名單位']}}" required />
                            </div>
                            <div class="form-group ">
                                <label for="in_group" class="required-label">參賽組別</label>
                                <select id="in_group"  name="in_group" class="form-control"> 
                                    <option value="挑戰賽" {% if outteam['參賽組別'] == '挑戰賽' %}selected{% endif %}>挑戰賽</option> 
                                    <option value="經典賽" {% if outteam['參賽組別'] == '經典賽' %}selected{% endif %}>經典賽</option>    
                                </select>
                            </div>
                            <div class="form-group ">
                                <label for="in_ctname" class="required-label">聯絡人</label>
                                <input type="text" class="form-control" name="in_ctname"
                                    id="in_ctname" placeholder="聯絡人" value="{{outteam['聯絡人']}}" required />
                            </div>
                            <div class="form-group ">
                                <label for="in_phone">電話</label>
                                <input type="number" class="form-control" name="in_phone"
                                    id="in_phone" placeholder="電話(只限數字)" value="{{outteam['電話']}}" />
                            </div>
                            <div class="form-group ">
                                <label for="in_mobile">LINE ID</label>
                                <input type="text" class="form-control" name="in_mobile"
                                    id="in_mobile" placeholder="LINE ID" value="{{outteam['LINE ID']}}" />
                            </div>
                            <div class="form-group ">
                                <label for="in_email" class="required-label">電子郵件</label>
                                <input type="email" class="form-control" name="in_email"
                                    id="in_email" placeholder="電子郵件" value="{{outteam['電子郵件']}}" />
                            </div>
                            <div class="form-group ">
                                <label for="in_coach">教練</label>
                                <input type="text" class="form-control" name="in_coach"
                                    id="in_coach" placeholder="教練" value="{{outteam['教練']}}"/>
                            </div>
                            <div class="form-group ">
                                <label for="in_hcoach">領隊</label>
                                <input type="text" class="form-control" name="in_hcoach"
                                    id="in_hcoach" placeholder="領隊" value="{{outteam['領隊']}}"/>
                            </div>
                            <div class="form-group ">
                                <label for="in_captain" class="required-label">隊長</label>
                                <input type="text" class="form-control" name="in_captain"
                                    id="in_captain" placeholder="隊長" value="{{outteam['隊長']}}" required/>
                            </div>

                            <div class="form-group ">
                                <label for="in_file">報名名單系辦蓋章檔案<font color="grey"><sub>（只限JPEG/PNG/HEIC/PDF格式）</sub>
                                    </font></label>
                                {% if outteam['系辦蓋章'] =='Y' %}
                                <div class="form-control">
                                    <a href="{{ url_for('showfile', ftype='SIGNDOC', reg_pid=outteam['team_id']) }}"
                                        target="_blank">檢視已上傳檔案</a>
                                    <input type="checkbox" name="in_rmsigndocexistfile" id="in_rmsigndocexistfile"
                                        value="SIGNDOC" />
                                    <label for="in_rmsigndocexistfile">移除已上傳檔案</label>
                                </div>
                                {% endif %}
                                <div class="form-control">
                                    <input type="file"
                                        accept="image/jpeg, image/png, image/heic, application/pdf"
                                        name="in_file_signdoc" id="in_file_signdoc"
                                        value="outteam['系辦蓋章']" placeholder="報名名單系辦蓋章檔案" />
                                    <button type="button" class="btn btn-link"
                                        onclick="document.getElementById('in_file_signdoc').value = ''">不要選擇檔案</button>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="in_file">學校Logo檔案<font color="grey"><sub>（只限.ai/PDF/JPEG/PNG格式）</sub>
                                    </font></label>
                                {% if outteam['學校Logo'] =='Y' %}
                                <div class="form-control">
                                    <a href="{{ url_for('showfile', ftype='LOGO', reg_pid=outteam['team_id']) }}"
                                        target="_blank">檢視已上傳檔案</a>
                                    <input type="checkbox" name="in_rmlogoexistfile" id="in_rmlogoexistfile"
                                        value="LOGO" />
                                    <label for="in_rmlogoexistfile">移除已上傳檔案</label>
                                </div>
                                {% endif %}
                                <div class="form-control">
                                    <input type="file"
                                        accept=".ai, image/jpeg, application/pdf, image/png"
                                        name="in_file_logo" id="in_file_logo"
                                        value="outteam['學校Logo']" placeholder="學校Logo檔案" />
                                    <button type="button" class="btn btn-link"
                                        onclick="document.getElementById('in_file_logo').value = ''">不要選擇檔案</button>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="in_file">教職員授課證明<font color="grey"><sub>（只限PDF格式）</sub>
                                    </font></label>
                                {% if outteam['授課證明'] =='Y' %}
                                <div class="form-control">
                                    <a href="{{ url_for('showfile', ftype='VERIFY', reg_pid=outteam['team_id']) }}"
                                        target="_blank">檢視已上傳檔案</a>
                                    <input type="checkbox" name="in_rmverifyexistfile" id="in_rmverifyexistfile"
                                        value="VERIFY" />
                                    <label for="in_rmverifyexistfile">移除已上傳檔案</label>
                                </div>
                                {% endif %}
                                <div class="form-control">
                                    <input type="file"
                                        accept="application/pdf"
                                        name="in_file_veri" id="in_file_veri"
                                        value="outteam['授課證明']" placeholder="教職員授課證明" />
                                    <button type="button" class="btn btn-link"
                                        onclick="document.getElementById('in_file_veri').value = ''">不要選擇檔案</button>
                                </div>
                            </div>
                            {% if current_user.has_role('admin') or current_user.has_role('gamemanager') %}
                                <div class="form-group ">
                                    <label for="in_approval" class="required-label">狀態</label>
                                    <select id="in_approval"  name="in_approval" class="form-control"> 
                                        {% for status in outstatuslist %}
                                        <option value="{{ status }}" {% if status == outteam['狀態'] %}selected{% endif %}>{{ status }}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="in_valid" class="required-label">是否合格</label>
                                    <select id="in_valid"  name="in_valid" class="form-control"> 
                                        <option value="false" {% if outteam['是否合格'] == '否' %}selected{% endif %}>否</option> 
                                        <option value="true" {% if outteam['是否合格'] == '是' %}selected{% endif %}>是</option>       
                                    </select>
                                </div>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-bs-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-success">送出</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End of Modal for updating team data-->
    </div>
    <br>
    <div class="container-fluid">
        <!-- start 得到隊員表格資料 -->
        <table class="table table-striped table-bordered" id="persontable">
            <thead>
                <tr align="center">
                    <th colspan="12"><h4>隊員報名資料</h4></th>
                </tr>
                <td align="center">
                    序號
                </td>
                {% for head in outheaders%}
                    {% if loop.first %}
                       
                    {% else %}
                    <td align="center">
                        {{ head }}
                    </td>
                    {% endif %}    
                {% endfor %}
                <td align="right">
                    <a href="{{ url_for('download_photo', team_id=outteam['team_id']) }}" class="btn btn-info btn-sm" >下載大頭照</a>
                    <a href="{{ url_for('download', team_id=outteam['team_id']) }}" class="btn btn-info btn-sm" >下載報名表</a>
                    <button type="button" data-bs-toggle="modal" class="btn btn-primary btn-sm"
                        data-bs-target="#insert_person">
                        新增
                    </button>
                </td>
            </thead>

            <tbody>
                {% for row in outdata %}
                <tr>
                    <td align="center">
                        {{loop.index}}
                    </td>
                    {% for cell in row %}
                        {% if loop.first %}
                        
                        {% else %}
                        <td align="center">
                            {% if cell == '_Y' %}
                            <a href="{{ url_for('showfile', ftype='PID',reg_pid=row.reg_pid) }}" data-toggle="tooltip"
                                title="查看身份證件檔案" class="text-decoration-none" target="_blank">📎</a>
                            {% elif cell == '_S' %}
                            <a href="{{ url_for('showfile', ftype='STUID',reg_pid=row.reg_pid) }}" data-toggle="tooltip"
                                title="查看大頭照" class="text-decoration-none" target="_blank">📎</a>
                            {% elif cell == '_E' %}
                            <a href="{{ url_for('showfile', ftype='ENROLL',reg_pid=row.reg_pid) }}" data-toggle="tooltip"
                                title="查看在學證明檔案" class="text-decoration-none" target="_blank">📎</a>
                            {% else %}
                                {{ cell }}
                            {% endif %}
                        </td>
                        {% endif %}
                    {% endfor %}
                    <td align="right">
                        <a href="{{ url_for('edit_person', reg_pid=row.reg_pid) }}" data-bs-toggle="modal"
                            class="btn btn-success btn-sm" data-bs-target="#update_person{{row.reg_pid}}">修改</a>
                        <a href="{{ url_for('del_person', reg_pid=row.reg_pid) }}" data-bs-toggle="modal"
                            class="btn btn-danger btn-sm" data-bs-target="#del_person{{row.reg_pid}}">刪除</a>
                    </td>
                </tr>

                <!-- Modal 2 for updating person data-->
                <div class="modal fade" id="update_person{{row.reg_pid}}" tabindex="-1" role="dialog"
                    aria-labelledby="basicModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="ModalUpdateLabel">修改人員資料</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-hidden="true"></button>
                            </div>
                            <form action="{{ url_for('edit_person', reg_pid=row.reg_pid) }}" method="post"
                                enctype="multipart/form-data">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input type="hidden" name="in_teamid" id="in_teamid" value="{{outteam['team_id']}}" />
                                    </div>
                                    <div class="form-group ">
                                        <label for="in_jersey " class="required-label">背號</label>
                                        <input type="number" class="form-control" name="in_jersey" id="in_jersey"
                                            value="{{row.背號}}" placeholder="背號" required />
                                    </div>
                                    <div class="form-group ">
                                        <label for="in_name" class="required-label">姓名</label>
                                        <input type="text" class="form-control" name="in_name" id="in_name"
                                            placeholder="姓名" value="{{row.姓名}}" required />
                                    </div>
                                    <div class="form-group ">
                                        <label for="in_grade" class="required-label">EMBA級別</label>
                                        <input type="text" class="form-control" name="in_grade" id="in_grade"
                                            placeholder="EMBA級別" value="{{row.EMBA級別}}" required />
                                    </div>
                                    <div class="form-group ">
                                        <label for="in_birthday" class="required-label">出生年月日</label>
                                        <input type="date" class="form-control" name="in_birthday" id="in_birthday"
                                            placeholder="YYYY-MM-DD" value="{{row.出生年月日}}" required />
                                    </div>
                                    <div class="form-group ">
                                        <label for="in_pid" class="required-label">身分證字號</label>
                                        <input type="text" pattern="^[a-zA-Z][1-2]\d{8}$" class="form-control"
                                            name="in_pid" id="in_pid" placeholder="身分證字號" value="{{row.身分證字號}}" required/>
                                    </div>   
                                    <div class="form-group">
                                        <label for="in_limited" class="required-label">限制球員</label>
                                        <select id="in_limited"  name="in_limited" class="form-control"> 
                                            <option value="false" {% if row.限制球員 == '' %}selected{% endif %}>否</option> 
                                            <option value="true" {% if row.限制球員 == '✅' %}selected{% endif %}>是</option>       
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="in_teacher" class="required-label">教職員</label>
                                        <select id="in_teacher"  name="in_teacher" class="form-control"> 
                                            <option value="false" {% if row.教職員 == '' %}selected{% endif %}>否</option> 
                                            <option value="true" {% if row.教職員 == '✅' %}selected{% endif %}>是</option>       
                                        </select>
                                    </div>
                                    
                                    <div class="form-group ">
                                        <label for="in_file">大頭照檔案<font color="grey"><sub>（只限JPEG格式）</sub>
                                            </font></label>
                                        {% if row.大頭照 =='_S' %}
                                        <div class="form-control">
                                            <a href="{{ url_for('showfile', ftype='STUID', reg_pid=row.reg_pid) }}"
                                                target="_blank">檢視已上傳檔案</a>
                                            <input type="checkbox" name="in_rmstuexistfile" id="in_rmstuexistfile"
                                                value="STUID" />
                                            <label for="in_rmstuexistfile">移除已上傳檔案</label>
                                        </div>
                                        {% endif %}
                                        <div class="form-control">
                                            <input type="file"
                                                accept="image/jpeg"
                                                name="in_file_stuid" id="in_file_stuid{{loop.index}}"
                                                value="{{row.reg_pid}}" placeholder="大頭照檔案" />
                                            <button type="button" class="btn btn-link"
                                                onclick="document.getElementById('in_file_stuid{{loop.index}}').value = ''">不要選擇檔案</button>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">取消</button>
                                    <button type="submit" class="btn btn-success">送出</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- End Modal 2 -->

                <!-- Modal 3 for deleting person data-->
                <div class="modal fade" id="del_person{{row.reg_pid}}" tabindex="-1" role="dialog"
                    aria-labelledby="basicModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="ModalUpdateLabel">確定刪除人員資料？</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-hidden="true"></button>
                            </div>
                            <form action="{{ url_for('del_person', reg_pid=row.reg_pid) }}" method="post">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input type="hidden" name="in_teamid" id="in_teamid" value="{{outteam['team_id']}}" />
                                    </div>
                                    <div class="form-group ">
                                        <label for="in_jersey " class="required-label">背號</label>
                                        <input type="number" class="form-control" name="in_jersey" id="in_jersey"
                                            value="{{row.背號}}" placeholder="背號" required disabled/>
                                    </div>
                                    <div class="form-group ">
                                        <label for="in_name" class="required-label">姓名</label>
                                        <input type="text" class="form-control" name="in_name" id="in_name"
                                            placeholder="姓名" value="{{row.姓名}}" required disabled/>
                                    </div>
                                    <div class="form-group ">
                                        <label for="in_grade" class="required-label">EMBA級別</label>
                                        <input type="text" class="form-control" name="in_grade" id="in_grade"
                                            placeholder="EMBA級別" value="{{row.EMBA級別}}" required disabled/>
                                    </div>
                                    <div class="form-group ">
                                        <label for="in_birthday" class="required-label">出生年月日</label>
                                        <input type="date" class="form-control" name="in_birthday" id="in_birthday"
                                            placeholder="YYYY-MM-DD" value="{{row.出生年月日}}" required disabled/>
                                    </div>
                                    <div class="form-group ">
                                        <label for="in_pid" class="required-label">身分證字號</label>
                                        <input type="text" oninput="convertToUpperCase()" pattern="^[a-zA-Z][1-2]\d{8}$" class="form-control"
                                            name="in_pid" id="in_pid" placeholder="身分證字號" value="{{row.身分證字號}}" disabled/>
                                    </div>   
                                    <div class="form-group">
                                        <label for="in_limited" class="required-label">限制球員</label>
                                        <select id="in_limited"  name="in_limited" class="form-control" disabled> 
                                            <option value="false" {% if row.限制球員 == '' %}selected{% endif %}>否</option> 
                                            <option value="true" {% if row.限制球員 == '✅' %}selected{% endif %}>是</option>       
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="in_teacher" class="required-label">教職員</label>
                                        <select id="in_teacher"  name="in_teacher" class="form-control" disabled> 
                                            <option value="false" {% if row.教職員 == '' %}selected{% endif %}>否</option> 
                                            <option value="true" {% if row.教職員 == '✅' %}selected{% endif %}>是</option>       
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">取消</button>
                                    <button type="submit" class="btn btn-danger">確定</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- End Modal 3 -->
                {% endfor %}
            </tbody>
        </table>
        <!-- end 得到隊員表格資料 -->
        <!-- Modal 1 for adding a person -->
        <div class="modal fade" id="insert_person" tabindex="-1" role="dialog" aria-labelledby="basicModal"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="ModalInsertLabel">新增人員</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                    </div>
                    <form action="{{url_for('add_person',tid=outteam['team_id'])}}" method="post" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="form-group ">
                                <label for="in_jersey" class="required-label">背號</label>
                                <input type="number" class="form-control" name="in_jersey" id="in_jersey"
                                    placeholder="背號" required />
                            </div>
                            <div class="form-group ">
                                <label for="in_name" class="required-label">姓名</label>
                                <input type="text" class="form-control" name="in_name" id="in_name" placeholder="姓名"
                                    required />
                            </div>
                            <div class="form-group ">
                                <label for="in_grade" class="required-label">EMBA級別</label>
                                <input type="text" class="form-control" name="in_grade" id="in_grade"
                                    placeholder="EMBA級別"  required />
                            </div>
                            <div class="form-group ">
                                <label for="in_birthday" class="required-label">出生年月日</label>
                                <input type="date" class="form-control" name="in_birthday" id="in_birthday"
                                    placeholder="YYYY-MM-DD" required />
                            </div>
                            <div class="form-group ">
                                <label for="in_pid" class="required-label">身分證字號</label>
                                <input type="text" oninput="convertToUpperCase()" pattern="^[a-zA-Z][1-2]\d{8}$"
                                    class="form-control" name="in_pid" id="new_pid" placeholder="身分證字號" required />
                            </div>
                            <div class="form-group">
                                <label for="in_limited" class="required-label">限制球員</label>
                                <select id="in_limited"  name="in_limited" class="form-control" required> 
                                    <option value="false" selected>否</option> 
                                    <option value="true">是</option>       
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="in_teacher" class="required-label">教職員</label>
                                <select id="in_teacher"  name="in_teacher" class="form-control" required> 
                                    <option value="false" selected>否</option> 
                                    <option value="true">是</option>       
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="in_file">大頭照檔案<font color="grey"><sub>（只限JPEG格式）</sub></font>
                                    </label>
                                <div class="form-control">
                                    <input type="file" accept="image/jpeg"
                                        name="in_file_stuid" id="in_file_stuid" placeholder="大頭照檔案" />
                                    <button type="button" class="btn btn-link"
                                        onclick="document.getElementById('in_file_stuid').value = ''">不要選擇檔案</button>
                                </div>
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-bs-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary">送出</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End Modal 1 -->



    </div>
</body>

{% endblock %}