{% extends 'base.html' %}

{% block content %}
<body>
<div class="container pt-5">
	<div class="card bg-light text-dark">
		<div class="card-header">
			<h3 class="text-center">2023 第十屆全國 EMBA 籃球邀請賽</h3>
		</div>
		<div class="card-body" style="text-align: left;">
			<h4>活動日期</h4>
			<p>2023年11月25日(週六)及11月26日(週日)</p>
			<h4>活動地點</h4>
			<p>台南市成功大學中正堂及台南市健美洋行 3F(台南一中體育館)</p>
			<h4>參賽資格</h4>
			<p>全國各校EMBA(不包含學分班)之專/兼任教師及在校生與歷屆校友。</p>
			<h4>挑戰賽資格</h4>
			<ol>
			  <li>退役的國家隊或國內外職業球員。(生日1980年次(含)之前排除，職業球員指曾為:NBA、WNBA、CBA、SBL、WSBL、ABL、P+聯盟、T1等職業聯盟球員)</li>
			  <li>曾參加中華民國籃球協會108、109、110、111、112年度全國社會甲組籃球聯賽的球員。</li>
			  <li>32歲以下球員(生日1991年次(含)以後限制)</li>
			</ol>
			<p>以上三項資格球球員，總稱為限制球員，不限制每隊每場登錄的人數，但限制各隊每一場同時上場的球員至多為2人，生日1980年次(含)以前出生者除外。</p>
			<h4>經典賽報名資格</h4>
			<p>男性：1980年次(含)前出生；女性：1988年次(含)前出生。</p>
			<h4>參賽隊伍</h4>
			<p>挑戰賽：上限20隊、經典賽：上限8隊</p>
			<h4>參賽人數</h4>
			<ul>
			  <li>每校各組可報名球員上限25人</li>
			  <li>每場比賽可登錄球員上限18人</li>
			  <li>每人限報名一隊，不得報名兩組</li>
			  <li>經大會審核報名資格後，比賽當日之檢核以報名參賽球員之有照片之學生證、健保卡、身分證做為身分確認之檢錄依據</li>
			  <li>未帶以上含照片證件者不得參賽</li>
			</ul>
			<h4>報名辦法</h4>
			<p>統一開放報名時間期限內，匯入報名費視取得參賽資格，如遇報名隊數超出設定之隊數，以匯款順序優先隊伍者為資格取得。</p>
			<h4>匯款日期及繳費資訊</h4>
			<ol>
			  <li>繳費日期：2023年7月10日09:00開放匯款繳費至2023年7月21日止。</li>
			  <li>匯款後，請以Line回覆告知匯款後五碼、校名、金額、參賽項目(EX:成功大學/11111/4.6萬 挑戰賽 經典賽)，經查收匯款順序，確認後將以Line回覆告知匯款成功及資格確認。</li>
			  <li>賽事報名費用：</li>
			</ol>
			<ul>
			  <li>A. 僅單一報名挑戰賽或單一經典賽：$43,000元/校(含選手之夜一桌餐費)。</li>
			  <li>B. 報名挑戰賽+經典賽：$46,000元/校(含選手之夜一桌餐費)。</li>
			  <li>C. 選手之夜加桌用：$10,000元/桌。</li>
			</ul>
			<h4>匯款資訊</h4>
			<p>王道銀行：048，帳號：01000101561988，戶名：張淨閑。</p>
			<h4>報名表回傳日期</h4>
			<p>2023/9/11 中午12:00 前，請寄至聯絡信箱：vicfenny@gmail.com。</p>
			<h4>領隊會議及抽籤時間 (可視訊)</h4>
			<p>20238/15(六)11:00，地點另行通知。</p>
			<h4>比賽住宿優惠</h4>
			<p>去電訂房表明參加「成功大學全國 EMBA 籃球邀請賽」，即可享有訂房優惠價。</p>
			<table style="border-collapse: collapse;">
				<thead>
				  <tr>
					<th style="border: 1px solid black; padding: 8px;">飯店名稱</th>
					<th style="border: 1px solid black; padding: 8px;">全 E 籃優惠價</th>
					<th style="border: 1px solid black; padding: 8px;">地址</th>
					<th style="border: 1px solid black; padding: 8px;">電話</th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<td style="border: 1px solid black; padding: 8px;">台南遠東香格里拉</td>
					<td style="border: 1px solid black; padding: 8px;"> 9 折優惠</td>
					<td style="border: 1px solid black; padding: 8px;">台南市東區大學路西段 89 號</td>
					<td style="border: 1px solid black; padding: 8px;">06-7028888</td>
				  </tr>
				  <tr>
					<td style="border: 1px solid black; padding: 8px;">台南富信大飯店</td>
					<td style="border: 1px solid black; padding: 8px;">雙人房(含早):約 3700~4500 元<br>四人房(含早):約 5100~5600 元</td>
					<td style="border: 1px solid black; padding: 8px;">台南市北區成功路 336 號</td>
					<td style="border: 1px solid black; padding: 8px;">06-2227373</td>
				  </tr>
				  <tr>
					<td style="border: 1px solid black; padding: 8px;">台南成大會館</td>
					<td style="border: 1px solid black; padding: 8px;">雙人房(含早):約 3100~4500 元<br>四人房(含早):約 5100~6700 元</td>
					<td style="border: 1px solid black; padding: 8px;">台南市東區大學路 2 號</td>
					<td style="border: 1px solid black; padding: 8px;">06-2758999</td>
				  </tr>
				  <tr>
					<td style="border: 1px solid black; padding: 8px;">台南大飯店</td>
					<td style="border: 1px solid black; padding: 8px;">雙人房(含早):約 3100~4000 元<br>四人房(含早):約 4800~5500 元</td>
					<td style="border: 1px solid black; padding: 8px;">台南市中西區成功路 1 號</td>
					<td style="border: 1px solid black; padding: 8px;">06-2366168</td>
				  </tr>
				  <tr>
					<td style="border: 1px solid black; padding: 8px;">台南禧榕軒大飯店</td>
					<td style="border: 1px solid black; padding: 8px;">雙人房(含早):約 3800~4500 元<br>四人房(含早):約 6000~6600 元</td>
					<td style="border: 1px solid black; padding: 8px;">台南市北區成功路 28 號</td>
					<td style="border: 1px solid black; padding: 8px;">06-2222188</td>
				  </tr>
				</tbody>
			</table><br>	
			<h4>選手之夜資訊</h4>
			<p>台南總理大飯店(台南市北區西門路四段 258 號)</p>
			<h4>比賽用球</h4>
			<p>Molten BG4500</p>
			<h4>保險</h4>
			<p>本次活動比賽場地已依政府規定投保公共意外責任險，惟本次賽程為競賽性質，各隊參賽成員及大會裁判工作人員應自行投保運動傷害險及醫療險等相關保險以備不時之需，
				各隊參賽成員及大會裁判工作人員如於本次賽程中遭逢意外受損害者，主辦單位不負損害賠償責任，當事人或其利害關係人均不得向大會提出任何請求。本活動為競賽性質
				並消耗大量體能，如患有心臟性疾病(如糖尿病、家族性冠狀動脈疾病、高血壓、高血糖、高血脂等)或有其他不宜激烈運動之疾病者，不適合參加，如因個人健康因素報名
				參賽所產生之風險，應由當事人自行承擔，主辦單位不負損害賠償責任。
			</p>
			<h4>備註</h4>
			<p>附件一之球員報名表與附件二之報名表照片已整合至系統內，請填寫球員資料時依照系統指示進行，並將系統完成之檔案下載、列印，並交於系辦公室蓋章後上傳。</p>
			<p>教職員須具EMBA辦公室蓋章確認之名單，資格認證如下列事項:</p>
			<ul>
				<li>EMBA教員: 必須為 110/111/112 學年度該校 EMBA 授課之教師。</li>
				<li>請準備授課證明如課程說明、開課代碼、服務證明書等。</li>
				<li>請辦公室用印認證，連同報名表一並寄回方取得出賽選手資格。</li>
			</ul>

		</div>
	</div>
</div>
</body>
{% endblock %}