{% extends 'base.html' %}

{% block content %}
<body>
<div class="container mt-3">
	<div class="card bg-light text-dark">
		<div class="card-header">
			<h3 class="text-center">2023興傳盃公益籃球邀請賽競賽規程</h3>
		</div>
		<div class="card-body" style="text-align: left;">
			<p>壹、	宗    旨：為提倡籃球運動風氣，增進各校間之交流聯誼</p>
			<p>貳、	指導單位：國立中興大學</p>
			<p>參、	主辦單位：國立中興大學EMBA校友會</p>
			<p>肆、	協辦單位：國立中興大學EMBA學生會、國立中興大學EMBA辦公室</p>
			<p>伍、	執行單位：國立中興大學EMBA籃球社</p>
			<p>陸、	比賽地點：國立中興大學體育館B1及2F籃球場（台中市南區興大路145號）</p>
			<p>柒、	比賽日期：112年08月19日、08月20日六日兩天</p>
			<p>捌、	參加對象：</p>
			<p>（一）	全國各校EMBA(不包含學分班)之教職員與學生及歷屆校友參賽選手(不分性別)</p>
			<p>限制如下:</p>
			<p>退役的國家隊或國內外職業球員(生日1981年次(含)以前排除)</p>
			<p>1.	職業球員指曾為:NBA、WNBA、CBA、SBL、WSBL、ABL、P+、T1聯盟等職業聯盟球員。</p>
			<p>2.	曾參加中華民國籃球協會109、110、111年度全國社會甲組籃球聯賽的球員（生日1981年次(含)以前排除）</p>
			<p>以上兩項資格的球員，總稱為受限制球員，不限制每隊每場登錄的人數，但限制各隊每一場同時上場的球員至多為2人。</p>
			<p>菁英組男性參賽球員須年滿43歲(民國69年12月31日前出生)，</p>
			<p>菁英組女性參賽球員須年滿33歲(民國79年12月31日前出生) ，</p>
			<p>符合參加對象資格皆可報名參加。</p>
			<p>（二）	參賽組別：本次賽事組別開放跨校聯隊報名，區分成兩組，挑戰組(不限齡)
			及菁英組(43歲以上)，各組可報名人數為25人，比賽可登錄18人。</p>
			<p>（三）	參賽隊數: 預計招收挑戰組(不分齡)16隊為上限；菁英組(43歲以上) 8隊為上限</p>
			<p>玖、	競賽辦法：</p>
			<p>（一）	比賽制度：預賽採小組循環賽制，各組取前2名進入決賽；未晉級隊伍進行交流
			賽，交流賽及決賽皆採單淘汰制。</p>
			<p>（二）	比賽規則：使用中華民國籃球協會審訂通過之最新2022籃球規則暨附則
			（請參閱比賽規則暨附則）。</p>
			<p>（三）	比賽用球：SPALDING TF-1000 7號球</p>
			
			<p>（四）	報名辦法：</p>
			<p>1、	報名費用：新台幣38,000元整（含選手之夜ㄧ桌10人）。</p>
			<p>選手之夜加桌費用:新台幣10,000元整。</p>
			<p>比賽報名時間：即日起至 112年5月31日星期三晚上24:00止。</p>
			<p>2、	選手之夜報名時間：為方便各校安排兩天行程，報名時間為112年6月9日晚上
			24:00止，請各校負責人統計參加人數後將費用匯入，俾憑安排規劃。</p>
			<p>3、	人數：每校可報名球員上限為25人；每場比賽可登錄球員上限為18人。經大會審發給參賽球員選手證參加比賽，未攜帶選手證者，不得參加比賽。</p>
			<p>4、	手續：敬請填妥參賽報名表（附件一）及學校LOGO AI檔寄至聯絡信箱：
			hsingchungcup@gmail.com，報名成功後，將會以LINE及Email方式同步告知。</p>
			<p>i.	各隊負責人均應備齊資料，按格式貼附照片及其檔案（三個月內），正確填寫出
			生日期及身分證字號等資料。選手檢錄方式：於選手報到時間，各隊代表需親自
			持有效照片身分證件，限為身分證、健保卡、護照、學生證（擇一即可）及EMBA辦公室蓋章之在校證明至大會檢錄組核對身份並領取選手證。
			選手需於該隊繳交比賽名單前，完成檢錄。</p>
			<p>ii.	備註：有資格不符之球員出場比賽者，取消該隊全部賽程之比賽資格。選手資格不符請於賽前提出（請各隊務必攜帶選手證），比賽中只限定於審查冒名頂替之選手，賽後不接受選手資格不符之抗議。</p>
			<p>iii.	   賽事相關費用匯款資訊請參見（附件三）。</p>
			<p>壹拾、	領隊會議：</p>
			<p>（一）時間：第一次領隊會議於112年6月16日（五）20：00。</p>
			<p>（二）地點：採線上視訊會議形式舉行，會議前一週會於領隊群組再另行通知。</p>
			<p>（三）抽籤：第一次會議將進行預賽分組抽籤，未派代表出席學校將由主辦單位公開代抽。</p>
			<p>（四）備註：領隊會議預計兩次，第二次時間地點等訊息將於第一次領隊會議時另行公佈，請務必參加領隊會議，並詳閱各事項，若有問題請當場提出。</p>
			<p>壹拾壹、	獎    勵：</p>
			<p>（一）	冠、亞、季、殿軍獎盃</p>
			<p>（二）	個人獎項： MVP。</p>
			 
			<p>壹拾貳、	申  訴：</p>
			<p>運動員資格申訴，應於每場比賽開始前提出，其他事件之申訴在賽後裁判於記錄表上簽名，
			<p>前由該隊隊長提出，並於記錄表「抗議球隊隊長」欄內簽名，申訴球隊需於30分鐘內以書面由領隊或教練簽蓋章，並繳交保證金新台幣參仟元整向大會審判委員會提出申訴，受理時保證金退還，否則沒收。大會審判委員會之判決即為終決，各隊不得再提異議。</p>
			<p>審判委員會之組成：大會總幹事、競賽組長、裁判長、大會聘請之全國籃協技術委員。</p>
			<p>壹拾參、	保  險：</p>
			<p>本次活動比賽場地已依政府規定投保公共意外責任險，惟本次賽程為競賽性質，各隊參賽成員及大會裁判工作人員應自行投保運動傷害險及醫療險等相關保險以備不時之需，各隊參賽成員及大會裁判工作人員如於本次賽程中遭逢意外受有損害者，主辦單位不負損害賠償責任，當事人或其利害關係人均不得向大會提出任何請求。本活動為競賽性質並消耗大量體能，如患有心臟性疾病（如糖尿病、家族性冠狀動脈疾病、高血壓、高血糖、高血脂等）或有其他不宜激烈運動之疾病者，不適合參加，如因個人健康因素報名參賽所生之風險，應由當事人自行承擔，主辦單位不負損害賠償責任。</p>
			<p>壹拾肆、	本競賽規程若有未詳盡之事宜，大會保有修改之權利。</p>
			
			<h2 class="text-center">比賽規則暨附則</h2>
			<p>一、每場比賽分為4節，每節10分鐘，延長賽5分鐘，節間休息1分鐘，中場休息3分鐘。</p>
			<p>二、停錶時機：前三節最後24秒遇暫停、出界、犯規等死球停錶，
			第四節最後兩分鐘（含進球）停錶，
			延長賽最後兩分鐘（含進球）停錶。
			延長賽採一次延長，如再次平手，則由兩隊的登錄18名選手之中的5位選手上
			場罰球，每人罰球一次，進球數最多隊伍獲勝，如再次平手，則派一名代表罰球
			同一回合中，如一方進球另一方未進球，則進球方隊伍獲勝。</p>
			<p>三、各隊上半場可請求2次暫停，下半場可請求3次，延長賽1次，每次暫停時間30秒。</p>
			<p>四、每隊每場比賽最多可登錄18位球員。</p>
			<p>五、個人犯規達五次則喪失該場比賽之權利，必須被替補；團隊犯規達四次後，第五次開始由對隊進行加罰。</p>
			<p>六、同一隊員於同場比賽中被宣判2次違反運動道德犯規、2次技術犯規、違反運動道德犯規及技術犯規各1次，以上三種情形其中一種情形成立，則喪失該場比賽之權利，必須被替補且離開比賽球場。</p>
			<p>七、最終的比賽規則暨附則將待領隊會議進行討論後，再行公布最終版本。</p>
			
			
			<h2 class="text-center">比賽規範</h2>
			<p>一、預賽場地均會安排臨場委員及裁判團隊，請絕對遵守與服從大會裁判判決。</p>
			<p>二、若球員於比賽中蓄意衝撞或有任何挑釁動作，以及球隊發生任何衝突與打架事件，主辦單位有權終止比賽並處以禁賽。</p>
			<p>三、請確實遵守EMBA聯誼賽參賽資格規範，若遇球員身份有爭議狀況，將以大會競賽組認定為主。</p>
			<p>四、每人每組限報名一隊（不得報名兩隊）若有重複報名者，以第一場出賽之隊伍為準。
			（若球隊有冒名頂替、棄權、罷賽而未完成比賽者，經審判委員會議認定之後，沒收剩餘賽程，不排名次，報名費無條件沒收）。</p>
			<p>五、比賽進行中遭宣判奪權犯規者，即取消該隊員該場及後續賽事出賽資格。打群架球隊當場取消球隊所有賽程及沒收報名費。</p>
			<p>六、每校可報名球員上限為25人；每場比賽可登錄球員上限為18人。</p>
			<p>（1）25人球員名單、校友、教職員參賽資格認定依據需連同報名表於期限內繳交完成。</p>
			<p>（2）每場出賽必須攜帶選手證檢錄完才可登錄出賽，未攜帶選手證者一律不得出賽。
			若因證件不齊未達規定人數5人，則宣判棄權。</p>
			<p>（3）務必在表定比賽時間30分鐘前到達比賽場地，提出出賽球員名單；若開賽時未滿5
					人，則宣判球隊棄權（20：0）。比賽最多只能延遲15分鐘，表定比賽時間開始後15
					分鐘內到場且準備比賽，若未能提出正當理由，則宣判技術犯規由對隊罰球後進行跳
					球開始第一節比賽；若能提出正當理由(正當理由之情形以大會判定為主)，則不須宣判技術犯規。登錄未滿18人，開賽後不得補登。</p>
			<p>（4）校友及教職員身份請先提供畢業證書或相關證明連同報名表一併提交給主辦單位。</p>
			<p>七、各球隊需自行準備球衣、球褲（最好準備深、淺兩套），且必須統一整齊。</p>
			<p>（1）球衣前後必須印有號碼，同隊球員不得穿著號碼相同的球衣。</p>
			<p>（2）若球員未遵守球衣相關規定，除非有合理特殊狀況並於開前經報備該場裁判且對手同
					意，否則不得上場比賽。</p>
			<p>（3）賽程表上排名在前的球隊（主隊），應著淺色球衣（最白色）；</p>
			<p>賽程表上排名在後的球隊（客隊），應著深色球衣；</p>
			<p>若經兩隊同意，可以互換球衣顏色。</p>
			 
			
			<h2 class="text-center">學姐專用特殊條款</h2>
			<p>一、學姐未持球時，男性球員得以正常防守。</p>
			<p>二、學姐持球時，男性球員防守相關規定如下：</p>
			<p>（1）學姐於禁區外持球：</p>
				<p>‧男性球員主動造成身體接觸，宣判犯規，發邊線球。</p>
				<p>‧男性球員舉手干擾或拍撥球，宣判違例，發邊線球。</p>
			<p>（2）學姐於禁區內持球：</p>
				<p>‧男性球員主動造成身體接觸，宣判犯規，由被犯規者罰2球。</p>
				<p>‧男性球員舉手干擾或拍撥球，宣判犯規，發邊線球。</p>
			<p>三、當學姐傳球離手後，男性球員即可抄球。</p>
			<p>四、無論在球場任何位置，當學姐正在投籃動作中時，男性球員有下列動作或行為，均視同投籃
				動作中犯規，由被犯規者罰2或3球（球進加罰1次）：</p>
			<p>（1）男性球員主動造成身體接觸。</p>
				<p>（2）男性球員舉手干擾或拍撥球。</p>
			<p>五、本次賽會中，每場比賽每隊最多只能同時有兩名學姐上場。</p>
			<p>六、嚴禁男性球員蓄意衝撞學姐、或過度的身體接觸（造成受傷）或有任何嚴重肢體、表情及言
			語的騷擾。經執法裁判判定，若男性球員對學姐的行為已達嚴重之程度，得視情況宣判奪權犯規，但非僅限於本條文及籃球規則中規範之行為而已。大會有權對該名球員處以無限期禁
			賽，該球員必須自行承擔後果。</p>
			<p>以上規則未詳盡之事宜，將依據中華民國籃球協會審訂通過之最新(2022)籃球規則執行。</p>
			<h2 class="text-center">重要場地規範</h2>
					<p>因參賽人數眾多，為顧及安全及賽事品質考量，請務必按現場場地指示，遵守大會規定。非比賽球隊職球員及該校啦啦隊，一律禁止進入比賽場地，比賽中嚴禁橫越兩面球場底線。遵照校園規定，禁止攜帶寵物入校，不建議使用紙杯，請各球隊自行攜帶飲水器具。校內嚴禁吸煙，球場內禁止飲食並請保持清潔乾淨，勿亂丟保特瓶及垃圾，並請依規定做好垃圾分類。本屆賽事因場館規格安全考量，將禁止嬰兒車入內。6歲以下孩童，可以進入各校休息區，但禁止進入比賽場地啦啦隊區域。</p>
		</div>
	</div>
</div>
</body>
{% endblock %}